{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KunstPunkt Marburg</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="site-header">
        <a href="{% url 'home' %}" class="logo-link">
            <img src="{% static 'img/logo.png' %}" alt="KunstPunkt Marburg Logo" class="header-logo">
        </a>

     <nav class="main-nav">
    <a href="{% url 'home' %}">Start</a>
    <a href="{% url 'event_list' %}">Events</a>
    <a href="{% url 'galerie' %}">Galerie</a>
    <a href="{% url 'application_create' %}">Anmeldung</a>
</nav>
    </header>

    <main class="page-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <p>KunstPunkt Marburg — Offene Bühne und Galerie</p>
    </footer>

</body>
</html>