{% extends "base.html" %}

{% block title %}Impressum | KunstPunkt Marburg{% endblock %}

{% block content %}
<section class="page-section">
  <h1>Impressum</h1>

  <p>Angaben gemäß § 5 DDG und § 18 MStV</p>

  <h2>KunstPunkt Marburg</h2>
  <p>
    vertreten durch:<br>
    Marc Wiesner<br>
    An der Zahlbach 18<br>
    35039 Marburg<br>
    Deutschland
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: <a href="mailto:kunstpunktmarburg@gmail.com">kunstpunktmarburg@gmail.com</a><br>

  </p>

  <h2>Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV</h2>
  <p>
    Marc Wiesner<br>
    An der Zahlbach 18<br>
    35039 Marburg<br>
    Deutschland
  </p>

  <h2>Haftung für Inhalte</h2>
  <p>
    Die Inhalte dieser Website wurden mit größtmöglicher Sorgfalt erstellt.
    Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernehmen wir jedoch keine Gewähr.
  </p>

  <h2>Haftung für Links</h2>
  <p>
    Diese Website kann Links zu externen Websites enthalten. Auf die Inhalte dieser externen Seiten haben wir keinen Einfluss.
    Für diese Inhalte sind ausschließlich die jeweiligen Anbieter:innen oder Betreiber:innen der verlinkten Seiten verantwortlich.
  </p>

  <h2>Urheberrecht</h2>
  <p>
    Die auf dieser Website veröffentlichten Inhalte, Texte, Bilder und Grafiken unterliegen dem deutschen Urheberrecht.
    Eine Verwendung, Vervielfältigung oder Weitergabe ist nur mit Zustimmung der jeweiligen Rechteinhaber:innen erlaubt.
  </p>
</section>
{% endblock %}